@font-face {
  font-family: "SFPRO_semibold";
  src: url("./assets/fonts/SF-Pro-Display-Semibold.otf");
}

@font-face {
  font-family: "SFPRO_medium";
  src: url("./assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: "SFPRO_regular";
  src: url("./assets/fonts/SF-Pro-Display-Regular.otf");
}


body {
  overflow-x: hidden;
}